{% extends "base.html" %}

{% block content %}
<br>
<small>version 1.1.1</small><br><br>
<h5>
  This first version is a basic PII (Personal Identifiable Information) Anonymiser 
  using POS tagging to identify and replace Proper Nouns and Numerical values by emojis.
  <br><br>
</h5>
<p>
  Work in progress:<br><br>
  <small>v1.2</small><br>
  - options between replacing with emojis and proper POS tags ::) <br>
  - differentiate between person/organisation <br><br>
  <small>v1.3</small><br>
  - differentiate between date/address/phone number 
</p>
{% endblock %} 