{% extends "base.html" %}

{% block content %}
<div class="upload_bar d-flex mt-2">
  <div class="mt-2">
    <h5>Upload an image with text</h5>
  </div>
  <form class="" action="{{ url_for('upload_image') }}" method='POST' enctype="multipart/form-data">
    <table>
      <tr>
        <td>
          <input type="file" name="file" class="form-control" autocomplete="off" required>
        </td>
        <td>
          <input type="text" name="keyword" class="form-control" placeholder="Keyword (optional)">
        </td>
        <td>
          <input type="submit" value="Submit" class="btn btn-dark">
        </td>
      </tr>
    </table>
  </form>
</div>
<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  {% endif %}
  {% endwith %}
</p>

{% if filename %}
<div class="border border-dark border-5 bg-dark d-flex flex-wrap justify-content-between w-100">
  {% if foundKeyword %}
  <div class="carousel_container">
    <img id="original" class="w-100 img_carousel" src="{{ url_for('display_search', filename=filename) }}"
      alt="Keyword Search">
  </div>
  {% else %}
  <div class="carousel_container">
    <img id="original" class="w-100 img_carousel" src="{{ url_for('display_image', filename=filename) }}"
      alt="Original">
  </div>
  {% endif %}
  <div class="carousel_container">
    <img id="focus" class="w-100 img_carousel" src="{{ url_for('display_focus', filename=filename) }}" alt="Focus Mode">
  </div>
  <div class="carousel_container">
    <img id="tippex" class="w-100 img_carousel" src="{{ url_for('display_tippex', filename=filename) }}"
      alt="Tippex Mode">
  </div>
  <div class="carousel_container">
    <img id="collage" class="w-100 img_carousel" src="{{ url_for('display_collage', filename=filename) }}"
      alt="Collage Mode">
  </div>
</div>

<div>
  <h3>
  {% if count %}
    {% if count == 1 %}
      keyword <strong>{{ keyword }}</strong> has been found in text above.
    {% elif count > 1 %}
      keyword <strong>{{ keyword }}</strong> has been found {{ count }} times in text above.
    {% else %}
      keyword <strong>{{ keyword }}</strong> has not been found in text above.
    {% endif %}
  {% endif %}
  <br>
  <!-- found: {{ foundKeyword }} -->
  </h3>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modal-img">
  <div id="caption"></div>
</div>

<script>
  // Get the modal
  let modal = document.getElementById("myModal");

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  let img1 = document.getElementById("original");
  let img2 = document.getElementById("focus");
  let img3 = document.getElementById("tippex");
  let img4 = document.getElementById("collage");

  let modalImg = document.getElementById("modal-img");

  let caption1 = document.getElementById("caption");
  img1.onclick = function () {
    modal.style.display = "block";
    modalImg.src = this.src;
    caption1.innerHTML = this.alt;
  }
  let caption2 = document.getElementById("caption");
  img2.onclick = function () {
    modal.style.display = "block";
    modalImg.src = this.src;
    caption2.innerHTML = this.alt;
  }
  let caption3 = document.getElementById("caption");
  img3.onclick = function () {
    modal.style.display = "block";
    modalImg.src = this.src;
    caption3.innerHTML = this.alt;
  }
  let caption4 = document.getElementById("caption");
  img4.onclick = function () {
    modal.style.display = "block";
    modalImg.src = this.src;
    caption4.innerHTML = this.alt;
  }

  // Get the <span> element that closes the modal
  let span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }
</script>
{% endif %}

{% endblock %}